<div class="container">
	<div class="row">
		<div class="span6">
            <form action='/contact' method='post'>
                <div class="controls controls-row">
                    <input id="name" name="name" type="text" class="span3" placeholder="Name"> 
                    <input id="email" name="email" type="email" class="span3" placeholder="Email address">
                </div>
                <div class="controls">
                    <textarea id="message" name="message" class="span6" placeholder="Your Message" rows="5"></textarea>
                </div>
                  
                <div class="controls">
                    <button id="contact-submit" type="submit" class="btn btn-success input-medium pull-right">Submit</button>
                </div>
            </form>
        </div>
	</div>
</div>