<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Michael Hayes, co-founder of CodeCreatedMe. Glasgow based producer of mobile and web app.">
  <meta name="author" content="">
  <meta name="google-site-verification" content="78-dMa93Dzj__PhNS7jyfAGRsDDYSaku7jGCaK-k7kI" />
  <link rel="icon"
  type="image/png"
  href="/img/favicon.ico" />

  <title>Michael Hayes | Glasgow based tech startup foudner | CodeCreatedMe & RookieOven</title>

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.css" rel="stylesheet">

  <!-- Add custom CSS here -->
  <link href="css/custom.css" rel="stylesheet">
  <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- Add custom fonts here -->
<link href='http://fonts.googleapis.com/css?family=Convergence' rel='stylesheet' type='text/css'>

</head>

<body>
  <!-- Intro -->
  <div id="about" class="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <h1 class ="ccm">Michael Hayes</h1>
          <p class="lead">Glasgow based entrepreneur. Co-founder of CodeCreatedMe, a development house making products for mobile and web using Ruby, Objective-C and Java.</p>
          <p class="lead">Contributing to the local startup eco-system through RookieOven - a blog highlighting Scottish talent.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- /Intro -->

  <!-- Services -->
  <div id="information" class="services">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-md-offset-2 text-center">
          <div class="service-item">
            <a href ="http://twitter.com/_mdhayes">
            <i class="service-icon fa fa-twitter"></i>
            <h4>Twitter</h4>
            </a>
          </div>
        </div>
        <div class="col-md-2 text-center">
          <div class="service-item">
            <a href ="http://uk.linkedin.com/in/mdhayes1/">
            <i class="service-icon fa fa-linkedin"></i>
            <h4>LinkedIn</a></h4>
          </div>
        </div>
        <div class="col-md-2 text-center">
          <div class="service-item">
            <a href ="https://github.com/mdhayes">
            <i class="service-icon fa fa-github"></i>
            <h4>Github</h4>
            </a>
          </div>
        </div>
        <div class="col-md-2 text-center">
          <div class="service-item">
            <a href ="skype:michaeldhayes?chat">
            <i class="service-icon fa fa-skype"></i>
            <h4>Skype</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /information -->

   <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
              <hr>
              <h4>Build - Measure - Learn</h4>
              <hr>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-48589312-1', 'mdhayes.me');
  ga('send', 'pageview');

</script>
</body>
</html>
